body {
	main {
		div#content {
			#desktop_schedule_table {
				display: block;
				text-align: left;
				width: 100%;

				th {
					background-color: $primaryColor;
					color: $textIconColor;
					padding: 0.5rem;
				}

				td {
					padding: 0.5rem;
				}

				tr:nth-child(2n+1) {
					background-color: $primaryColorLight;
				}

				.week {
					width: 20%;
				}

				.topic {
					width: 40%;
				}

				.assigned {
					width: 20%;
				}

				.deadlines {
					width: 20%;
				}

			}

			#mobile_schedule_grid {
				display: none;
			}

			.screenshot_container {
				display: inline-block;
				
    			.screenshot_with_label {
    				float: left;
    				margin: auto;
    				margin-bottom: 2rem;
    				width: 45%;

    				&:nth-child(2n) {
    					float: right;
    				}

    				label {
    					display: block;
    					margin-top: 0.5rem;
    					text-align: center;
    					width: 100%;
    				}

    				.screenshot {
    					width: 100%;

    				}
    			}
    		}
		}
	}
}