// ---------------------------------------------------------------------------------------------- //
// ----------------------------------         COLORS         ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

$primaryColor: #009688;
$primaryColorDark: #00796B;
$primaryColorLight: #B2DFDB;

$textIconColor: #FFFFFF;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;

$accentColor: #607D8B;
$dividerColor: #BDBDBD;

// ---------------------------------------------------------------------------------------------- //
// ----------------------------------          FONT          ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

$defaultFont: monospace, sans-serif;